# ==========================
# Python Virtual Environments
# ==========================
cv_lab/

# ==========================
# Python Cache
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Data (if large)
# ==========================
Data/
data/
*.h5
*.pth
*.pt
*.ckpt
*.onnx

# ==========================
# Logs
# ==========================
*.log


# ==========================
# Images
# ==========================
images/

# ==========================
# Videos
# ==========================
videos/